version: "3"
services:
  app:
    restart: always
    build: .  # '点'代表当前目录
    command: "python manage.py runserver --nothreading --noreload 0.0.0.0:8000"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
