info_facial/*
info_facial/
.mypy_cache
.coverage
htmlcov
.env
.idea
.pyc
.jpg
.jpeg
img.png
img_1.png
img_2.png
img_3.png
.png
media/*
media/
images/*
images/
verif/*
verif/
login_recognition_app/facialrecognition/media/images/
**login_recognition_app/facialrecognition/media/images/
login_recognition_app/facialrecognition/media/images/*
login_recognition_app/facialrecognition/media/verif/
login_recognition_app/facialrecognition/media/verif/*
**login_recognition_app/facialrecognition/media/verif/
**/__pycache__
