asgiref==3.6.0
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_477u68wvzm/croot/certifi_1671487773341/work/certifi
click==8.1.3
Django==4.1.6
dlib==19.24.0
face-recognition==1.3.0
face-recognition-models==0.3.0
numpy==1.24.1
opencv-contrib-python==4.7.0.68
opencv-python==4.7.0.68
Pillow==9.4.0
sqlparse==0.4.3
